__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
.venv-exp/

.ipynb_checkpoints/

.vscode/
.idea/

experiments/
notebooks/

.streamlit/

.cache/

.DS_Store
Thumbs.db

data/raw_images/
scripts/compute_quantiles.py